@{
    // Set the title of the page dynamically
    ViewData["Title"] = "About";
}

<div class="w3-container" style="padding:128px 16px" id="about">
    <h3 class="w3-center">ABOUT THE COMPANY</h3>

    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <!-- Company Information Section -->
        <div class="w3-quarter">
            <i class="fa fa-book w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Our Story</p>
            <p>Founded by James Khumalo, KhumaloCraft Emporium aims to connect artisans worldwide with a global audience passionate about handcrafted products.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-eye w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Our Vision</p>
            <p>At KhumaloCraft Emporium, we're redefining online shopping by curating a diverse collection of handcrafted treasures.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Our Mission</p>
            <p>Driven by our passion for craftsmanship and sustainability, our mission is to champion artisans while providing customers with access to high-quality, ethically sourced products.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Our Values</p>
            <p>Authenticity, inclusivity, and sustainability are at the core of KhumaloCraft Emporium. We celebrate the talents of artisans from diverse backgrounds, promote ethical practices, and strive to reduce our environmental footprint.</p>
        </div>
    </div>
</div>

<div style="margin-top:48px">
    <br>
    <!-- Form for Contacting the Company -->
    <form action="about" method="post">
        <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Surname" required name="Surname"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p>
            <button class="w3-button w3-black" type="submit">
                <i class="fa fa-paper-plane"></i> SEND
            </button>
        </p>
    </form>
</div>

