
@{
	ViewData["Title"] = "Sign Up";
}
<div style="margin-top:128px">
	<h1>Sign Up</h1>
	<p>you need to sign up in the website for the application.</p>

	<div style="margin-top:48px">
		<br>
		<form action="about" method="post">
			<p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
			<p><input class="w3-input w3-border" type="text" placeholder="Surname" required name="Surname"></p>
			<p><input class="w3-input w3-border" type="text" placeholder="example@gmail.com" required name="Email"></p>
			<p>
				<button class="w3-button w3-black" type="submit">
					<i class="fa fa-paper-plane"></i> SEND
				</button>
			</p>
		</form>
	</div>
</div>

