@{
	// Set the title of the page dynamically using ViewData
	ViewData["Title"] = "Contact Us";
}

<!-- Container for contact information -->
<div class="w3-container" style="padding:128px 16px" id="contact">
	<h1 class="w3-center">CONTACT</h1> <!-- Contact heading -->
	<p class="w3-center w3-large">Find our location and details below:</p> <!-- Subheading -->

	<!-- Contact details -->
	<div style="margin-top:48px">
		<!-- Location -->
		<p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> The Quadrant, Newlands, Cape Town, South Africa</p>
		<!-- Phone -->
		<p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +27 12 345 6789</p>
		<!-- Email -->
		<p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"></i> Email: khumaloCraft.pro@mail.com</p>
		<br> <!-- Line break -->

		<!-- Image -->
		<img src="https://cldv1.blob.core.windows.net/images/AF_Web_Img1.jpg" class="w3-image" style="width:100%;margin-top:48px">
	</div>
</div>