
@{
	// Set the title of the page dynamically using ViewData
	ViewData["Title"] = "Login";
}
<!-- Container for login form -->
<div class="w3-center" style="margin-top:128px">
	<h1 class="w3-center">Login</h1> <!-- Login heading -->
	<p>If you don't have an account <a asp-area="" asp-controller="User" asp-action="SignUp">Sign Up</a> for a new account.</p> <!-- Message with Sign Up link -->
	<p>To see Admin controls please enter:</p> <!-- Additional instructions -->
	<p>Name: Admin</p> <!-- Admin username -->
	<p>Email: Admin</p> <!-- Admin email -->
</div>

<!-- Container for login form -->
<div style="margin-top:48px">
	<br> <!-- Line break -->
	<!-- Form for logging in -->
	<form asp-controller="Login" asp-action="Login" method="post">
		<p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p> <!-- Username input field -->
		<p><input class="w3-input w3-border" type="text" placeholder="example@gmail.com" required name="Email"></p> <!-- Email input field -->
		<p>
			<button class="w3-button w3-black" type="submit"> <!-- Submit button -->
				<i class="fa fa-paper-plane"></i> SEND
			</button>
		</p>
	</form>
</div>


